# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3

# PyCharm
.idea/

# Environment variables / secrets
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

*.sqlite3.backup

.env
.env.*
!.env.example